.opui-me-auto {
    margin-right: auto !important;
}

.opui-ms-2 {
    margin-left: 0.5rem !important;
}

.opui-ms-md-auto {
    margin-left: auto !important;
}

.opui-me-2 {
    margin-right: 0.5rem !important;
}

.opui-me-sm-2 {
    margin-right: 0.5rem !important;
}

.opui-float-end {
    float: right !important;
}
