<div class="opui-container">
    <footer id="footer">
        <div class="opui-row">
            <div class="opui-col-lg-12">
                <ul class="opui-list-unstyled">
                    <li class="opui-float-end"><a href="#top">Back to top</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">API</a></li>
                    <li><a href="#">Donate</a></li>
                </ul>
                <p>Made by <a href="https://optimizepress.com/">OptimizePress</a>.</p>
                <p>Based on <a href="https://getbootstrap.com/" rel="nofollow">Bootstrap</a>. </p>

            </div>
        </div>
    </footer>
</div>
</body>
</html>
