<div class="opui-navbar opui-navbar-expand-lg opui-fixed-top opui-navbar-dark opui-bg-dark">
    <div class="opui-container">
        <a href="https://optimizepress.com" target="_blank" class="opui-navbar-brand">OptimizePress</a>
        <button class="opui-navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#opui-navbarResponsive" aria-controls="opui-navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="opui-navbar-toggler-icon"></span>
        </button>
        <div class="opui-collapse opui-navbar-collapse" id="opui-navbarResponsive">
            <ul class="opui-navbar-nav">
                <li class="opui-nav-item">
                    <a class="opui-nav-link" href="index.html">UI</a>
                </li>
                <li class="opui-nav-item">
                    <a class="opui-nav-link" href="bootstrap.html">Bootstrap</a>
                </li>
                <li class="opui-nav-item">
                    <a class="opui-nav-link" href="font-awesome.html">FontAwesome</a>
                </li>
            </ul>
            <ul class="opui-navbar-nav opui-ms-md-auto">
                <li class="opui-nav-item">
                    <a target="_blank" rel="noopener" class="opui-nav-link" href="#"><i class="fa fa-github"></i> GitHub</a>
                </li>
                <li class="opui-nav-item">
                    <a target="_blank" rel="noopener" class="opui-nav-link" href="#"><i class="fa fa-twitter"></i> Twitter</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<link rel="stylesheet" href="tests.css">
