.#{$op-prefix}btn-primary {
    color: $color--opui-white !important;
}

.#{$op-prefix}btn-secondary {
    //background: $color--opui-gray600;
    //color: $color--opui-black !important;
    border-color: $color--opui-gray600 !important;
}

.#{$op-prefix}btn-danger {
    color: $color--opui-white !important;
}

.#{$op-prefix}btn-outline {
    border: 1px solid $color--opui-primary;
}

.#{$op-prefix}btn-outline-secondary {
    color: $color--opui-gray600 !important;
    border: 1px solid $color--opui-gray300;

    &:hover {
        color: $color--opui-white !important;
    }
}

.#{$op-prefix}btn,
.#{$op-prefix}btn-default {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    padding: 10px 16px;
    -webkit-font-smoothing: antialiased;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05) !important;
    text-decoration: none;
}

.#{$op-prefix}btn-link {
    box-shadow: none !important;
}

.#{$op-prefix}btn-sm,
.#{$op-prefix}btn-small {
    font-size: 14px;
    padding: 8px 14px;
}

.#{$op-prefix}btn-md,
.#{$op-prefix}btn-medium {
    font-size: 18px;
    padding: 12px 16px;
}

.#{$op-prefix}btn-lg,
.#{$op-prefix}btn-large {
    font-size: 20px;
    padding: 15px 28px;
}

.#{$op-prefix}btn-xs,
.#{$op-prefix}btn-xsm,
.#{$op-prefix}btn-xsmall,
.#{$op-prefix}btn-mini {
    font-size: 12px;
    padding: 5px 15px;
}

.#{$op-prefix}btn-xl,
.#{$op-prefix}btn-xlg,
.#{$op-prefix}btn-xlargel,
.#{$op-prefix}btn-mega {
    font-size: 24px;
    padding: 20px 32px;
}

.#{$op-prefix}btn {
    .#{$op-prefix}spinner {
        display: none !important;
    }

    .#{$op-prefix}spinner-border {
        width: 16px;
        height: 16px;
    }

    .#{$op-prefix}spinner-grow {
        width: 16px;
        height: 16px;
    }

    .#{$op-prefix}btn-saving-label {
        display: none !important;
    }

    .#{$op-prefix}btn-label {
        display: inline-block;
    }

    &.saving {
        // opacity: .7;

        .#{$op-prefix}spinner {
            display: inline-block !important;
        }

        .#{$op-prefix}btn-saving-label {
            display: inline-block !important;
        }

        .#{$op-prefix}btn-label {
            display: none;
        }
    }
}
