.opui-check-switch {
    position: relative;
    width: 73px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input[type=checkbox] {
        display: none !important;
    }

    .opui-check-switch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid $color--opui-blue;
        border-radius: 20px;
        padding: 0;
        margin: 0;
    }

    .opui-check-switch-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        transition: margin 0.3s ease-in 0s;
    }

    .opui-check-switch-inner:before,
    .opui-check-switch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 30px;
        padding: 0;
        line-height: 30px;
        font-size: 14px;
        color: $color--opui-white;
        box-sizing: border-box;
    }

    .opui-check-switch-inner:before {
        content: "ON";
        padding-left: 15px;
        background-color: $color--opui-blue;
        color: $color--opui-white;
        font-family: 'Open Sans', sans-serif !important;
        font-weight: 700 !important;
        line-height: 30px;
    }

    .opui-check-switch-inner:after {
        content: "OFF";
        padding-right: 12px;
        background-color: $color--opui-white;
        color: $color--opui-gray;
        text-align: right;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
    }

    .opui-check-switch-toggle {
        display: block;
        width: 10px;
        height: 10px;
        margin: 10px;
        background: $color--opui-white;
        position: absolute;
        top: 3px;
        bottom: 0;
        right: 39px;
        border: 2px solid $color--opui-blue;
        border-radius: 20px;
        transition: all 0.3s ease-in 0s;
    }
}















.ops-onoffswitch-checkbox:checked+.ops-onoffswitch-label .ops-onoffswitch-inner {
    margin-left: 0;
}

.ops-onoffswitch-checkbox:checked+.ops-onoffswitch-label .ops-onoffswitch-switch {
    right: 0px;
}
