.#{$op-prefix}form-text {
    font-size: 13px;
    line-height: 1.5;
    margin: 12px 0;
    color: $color--opui-gray400;
}

.#{$op-prefix}opui-form form label, .#{$op-prefix}form-group label, label.#{$op-prefix}form-label {
    font-size: 15px;
    color: $color--opui-black;
    padding: 11px 0;
    margin-bottom: 0.5rem;
}

.#{$op-prefix}form-control {
    font-size: 16px;
    height: auto;
    line-height: 100%;
    padding: 1rem 1.5rem;
}
