.#{$op-prefix}top-menu {
    position: relative;
    background-color: $color--opui-white;
    height: 65px;
    border-bottom: 1px solid $color--opui-lightgray;
    box-sizing: border-box;
    margin-bottom: 25px;

    ul,
    li {
        margin: 0;
        padding: 0;
        position: relative;

        a {
            color: $color--opui-gray500;
            text-decoration: none;
            font-size: 14px;
        }
    }

    .#{$op-prefix}logo {
        display: inline-block;
        height: 35px;

        [class^="#{$op-prefix}icon"],
        [class*=" #{$op-prefix}icon"] {
            font-size: 35px;
            line-height: 35px;
        }

        .#{$op-prefix}icon-logo {
            color: $color--opui-lightblue;
        }
    }

    .#{$op-prefix}right {
        nav {
            display: inline-block;
        }

        ul {
            margin: 0;
            padding: 0;
            line-height: 65px;
            text-align: center;
            display: inline-block;

            li {
                margin: 0;
                padding: 0;
                position: relative;
                display: inline-block;
                margin-right: 40px;

                a {
                    display: block;
                    color: $color--opui-gray500;
                    position: relative;
                    line-height: 65px;
                    transition: color 0.3s linear;
                    text-decoration: none;
                    font-size: 14px;

                    span {
                        font-size: 14px;
                        padding-left: 35px;
                    }

                    [class^="#{$op-prefix}icon"],
                    [class*=" #{$op-prefix}icon"] {
                        font-size: 25px;
                        line-height: 25px;
                        height: 25px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }

    .opui-right-static {
        li {
            border-left: 1px solid $color--opui-lightgray;

            a {
                display: inline-block;
                width: 80px;
                line-height: 65px;
                font-size: 20px;

                i {
                    transition: color 0.3s linear;
                }
            }
        }

        .#{$op-prefix}fullscreen-btn {
            margin-right: 0;

            a {
                width: 80px;
                line-height: 65px;
                display: inline-block;
                text-decoration: none;
                font-size: 20px;
                color: $color--opui-black;

                &:hover {
                    color: $color--opui-gray500;
                }
            }

            .#{$op-icon-prefix}fullscreen-fill {
                font-size: 20px;
                line-height: 1;
                width: 20px;
                height: 20px;

                position: relative;
                top: 0;
                transform: none;
                vertical-align: middle;
            }
        }
    }
}

.#{$op-prefix}submenu {
    background-color: $color--opui-white;
    border-bottom: 2px solid $color--opui-lightgray;

    h1 {
        font-size: 18px;
        line-height: 65px;
        font-weight: 400;
        padding: 0;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .#{$op-prefix}btn {
        padding-left: 35px;
        padding-right: 35px;
    }
}

.#{$op-prefix}title-w-icon {
    margin: 0 0 40px 0;

    h1 {
        font-size: 36px;
        margin: 50px 0 25px 0;
    }

    h2 {
        font-size: 32px;
        margin: 50px 0 25px 0;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 15px;
    }

    p.#{$op-prefix}teaser {
        font-size: 18px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        [class^="#{$op-prefix}icon"],
        [class*=" #{$op-prefix}icon"] {
            color: $color--opui-blue;
            display: inline-block;
            vertical-align: middle;
            font-size: 4rem;
            font-weight: 500;
            line-height: 1.2;
        }
    }
}

.#{$op-prefix}header {
    display: flex;
    align-items: center;
    padding: 32px;
    border-bottom: 1px solid #eee;
    background-color: #fff;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
    }

    .#{$op-prefix}header-helplink {
        font-size: 1.6rem;
        color: $color--opui-gray500;
        margin-left: 1.6rem;
        text-decoration: none;
    }
}
