.#{$op-prefix}submenu {
    border-bottom: 2px solid $color--opui-lightgray;

    h1 {
        font-size: 18px;
        line-height: 65px;
        font-weight: 400;
        padding: 0;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .#{$op-prefix}btn {
        padding-left: 35px;
        padding-right: 35px;
    }
}

.#{$op-prefix}title-w-icon {
    margin: 0 0 40px 0;

    h1 {
        font-size: 36px;
        margin: 50px 0 25px 0;
    }

    h2 {
        font-size: 32px;
        margin: 50px 0 25px 0;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 15px;
    }

    p.#{$op-prefix}teaser {
        font-size: 18px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        [class^="#{$op-prefix}icon"],
        [class*=" #{$op-prefix}icon"] {
            color: $color--opui-blue;
            display: inline-block;
            vertical-align: middle;
            font-size: 4rem;
            font-weight: 500;
            line-height: 1.2;
        }
    }
}
