.#{$op-prefix}headline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 32px;
    border-bottom: 1px solid #eee;
    background-color: #fff;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
        font-weight: 700;
    }

    .#{$op-prefix}break {
        flex-basis: 100%;
        height: 0;
    }

    .#{$op-prefix}headline-description {
        font-size: 1.4rem;
        color: $color--opui-gray500;
        margin-top: 1.6rem;
        margin-bottom: 0;
        width: 70%;

        a {
            color: $color--opui-blue;
            text-decoration: none;
        }
    }
}

.#{$op-prefix}headline-helplink {
    font-size: 1.6rem;
    color: $color--opui-gray500;
    margin-left: 1.6rem;
    text-decoration: none;
}

@include media-breakpoint-down(xl) {
    .#{$op-prefix}headline {
        .#{$op-prefix}headline-description {
            width: 90%;
        }
    }
}

@include media-breakpoint-down(lg) {
    .#{$op-prefix}headline {
        .#{$op-prefix}headline-description {
            width: 100%;
        }
    }
}

@include media-breakpoint-down(sm) {
    .#{$op-prefix}headline {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            flex-basis: 85%;
        }

        .#{$op-prefix}headline-helplink {
            flex-basis: 15%;
            margin-left: 0;
            justify-content: flex-end;
            display: flex;
        }
    }
}
