.#{$op-prefix}link-with-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.7rem;
    font-size: 1.4rem;
    color: var(--opui--gray500) !important;

    &:hover {
        color: var(--opui--blue) !important;
    }

    i {
        font-size: 1.6rem;
        line-height: 1;
        padding: 0;
        color: inherit;
    }
}
