.op-plugin-app-container, .#{$op-prefix}modal {
    .select2 {
        display: block;
        width: 100% !important;
        font-size: 16px;

        .select2-selection {
            border: 1px solid $color--opui-gray300;
            padding: 8px 15px !important;
            margin-bottom: 20px !important;
            height: auto;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        }

        .select2-selection__rendered {
            padding: 0 !important;
        }

        .select2-selection__arrow {
            height: 96%;
            top: 11px !important;
            right: 10px !important;
        }
    }

    .select2-container--focus .select2-selection, .select2-container--open .select2-selection {
        border-color: $color--opui-gray400 !important;
    }

    .select2-container--focus, .select2-container--open {
        .select2-selection {
            border-color: $color--opui-gray900;
        }
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        font-size: 14px;
        padding: 5px 8px;
        background: $color--opui-gray200;
        border: none;
        margin-top: 8px !important;
        margin-bottom: 0 !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        display: block;
        font-size: 16px;
        padding: 11px 5px !important;
    }
}

.toplevel_page_op-mentor {
    .select2-container {
        z-index: 99998 !important;
    }
}

.toplevel_page_op-mentor {
    .select2-dropdown {
        border-color: $color--opui-gray400 !important;

        .select2-search {
            display: block;
            padding: 8px;

            .select2-search__field {
                border: 1px solid $color--opui-gray300 !important;
                font-size: 14px !important;
                padding: 4px 10px !important;

                &:focus {
                    outline: none !important;
                    box-shadow: none !important;
                }
            }
        }

        .select2-results li {
            font-size: 16px !important;
            display: block !important;
        }

        .select2-results__option--highlighted {
            background-color: $color--opui-blue !important;
        }
    }
}
