.#{$op-prefix}2-col-settings {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;


    .#{$op-prefix}settings-sidenav {
        background: $color--opui-white;
        width: 300px;
        border-right: 1px solid $color--opui-lightgray;
        box-sizing: border-box;

        nav ul {
            list-style-type: none;
            margin: 0 0 10px 0;
            padding: 0;

            li {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                height: 75px;
                margin-bottom: 0;
                padding: 0 0 0 30px;
                border-right: 2px solid transparent;
                border-bottom: 1px solid $color--opui-lightgray;

                a {
                    cursor: pointer;
                    display: block;
                    width: 100%;
                    text-decoration: none;
                }

                h3 {
                    font-size: 16px;
                    font-weight: 400;
                    padding: 0 0 5px 30px;
                    position: relative;
                    line-height: initial;

                    [class^="#{$op-prefix}icon"], [class*=" #{$op-prefix}icon"] {
                        position: absolute;
                        top: 40%;
                        transform: translateY(-50%);
                        left: 0;
                    }
                }

                span {
                    display: block;
                    margin-left: 30px;
                    font-size: 12px;
                    color: $color--opui-gray400;
                }

                &.selected {
                    background-color: $color--opui-gray100;
                    border-right-color: $color--opui-lightblue;

                    h3 {
                        color: $color--opui-lightblue;
                    }
                }
            }
        }
    }

    .#{$op-prefix}settings-main {
        background: $color--opui-white;
        width: calc(100% - 300px);
        box-sizing: border-box;

        h2 {
            padding: 0 0 0 50px;
            border-bottom: 1px solid $color--opui-lightgray;
            font-size: 20px;
            font-weight: 600;
            line-height: 74px;
        }

        .#{$op-prefix}settings-container {
            padding: 35px 50px 0 50px;
            max-width: 800px;
        }
    }
}

.#{$op-prefix}2-col-settings-are-loading {
    @keyframes skeleton-loading-shimmer {
        0% {
            background-position: -468px 0
        }

        100% {
            background-position: 468px 0
        }
    }


    // Handle loading skeleton
    .#{$op-prefix}settings-sidenav {
        nav ul {
            li {
                h3, span {
                    text-indent: -9999px;
                    white-space: nowrap;
                    animation-duration: 1.25s;
                    animation-fill-mode: forwards;
                    animation-iteration-count: infinite;
                    animation-name: skeleton-loading-shimmer;
                    animation-timing-function: linear;
                    background: #F6F6F6;
                    background: linear-gradient(to right, hsl(0, 0%, 93%) 8%, hsl(0, 0%, 96%) 18%, hsl(0, 0%, 93%) 33%);
                    background-size: 800px 104px;
                    position: relative;

                    [class^="#{$op-prefix}icon"], [class*=" #{$op-prefix}icon"] {
                        opacity: 0;
                    }
                }

                h3 {
                    width: 90%;
                }

                span {
                    width: 79%;
                }
            }
        }
    }

    .#{$op-prefix}settings-main {
        h2 {
            span {
                position: relative;
                top: 24px;
                display: inline-block;
                width: 40%;
                height: 28px;
            }
        }

        h2 span, label, .#{$op-prefix}btn, .#{$op-prefix}input-placeholder, .#{$op-prefix}form-text {
            text-indent: -9999px;
            white-space: nowrap;
            animation-duration: 1.25s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-name: skeleton-loading-shimmer;
            animation-timing-function: linear;
            background: #F6F6F6;
            background: linear-gradient(to right, hsl(0, 0%, 93%) 8%, hsl(0, 0%, 96%) 18%, hsl(0, 0%, 93%) 33%);
            background-size: 800px 104px;
            position: relative;
        }

        label {
            width: 85%;
            height: 25px;
        }

        .#{$op-prefix}input-placeholder {
            width: 100%;
            height: 45px;
            border-radius: 4px;
        }

        .#{$op-prefix}form-text {
            display: inline-block;
            width: auto;
            width: 65%;
            height: 18px;
        }

        .#{$op-prefix}btn {
            width: 128px;
            height: 44px;
        }
    }

}
