.#{$op-prefix}advanced-table {
    border-collapse: collapse;
    margin: 2.5rem 0;
    font-size: 1.4rem;
    border-radius: $border-radius $border-radius 0 0;
    overflow: hidden;
    box-shadow: $box-shadow;
    width: 100%;
    background-color: $color--opui-white;

    thead {
        border-bottom: 1px solid $color--opui-gray200;

        th {
            background-color: #f7f7f8;
            color: $color--opui-gray700;
            text-align: left;
            font-weight: bold;
            padding: 2rem;
        }
    }

    tbody,
    tfoot {
        tr {
            border-bottom: 1px solid $color--opui-gray200;

            &.active-row {
                font-weight: bold;
                color: #009879;
            }
        }

        th,
        td {
            font-size: 1.4rem;
            font-weight: normal;
            padding: 2rem;
            color: $color--opui-gray600;

            a {
                color: inherit;
                cursor: pointer;
            }

            i {
                color: $color--opui-gray400;
            }

            .#{$op-prefix}pagination {
                float: right;
                margin-bottom: 0;

                .#{$op-prefix}page-item {
                    margin-bottom: 0;

                    &.active {
                        span {
                            color: $color--opui-logo;
                        }
                    }

                    .#{$op-prefix}page-link {
                        border: 0;
                        background-color: transparent;
                        color: inherit;
                    }
                }
            }

            select {
                border: 0;
                color: inherit;
                outline: none;
                box-shadow: none;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .#{$op-prefix}advanced-table {
        background-color: transparent;
        box-shadow: none;

        thead {
            display: none;
        }

        tbody {
            tr {
                display: flex;
                flex-direction: column;
                border-bottom: none;
                box-shadow: $box-shadow;
                background-color: $color--opui-white;
                margin-bottom: 1.6rem;

                td {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid $color--opui-gray200;
                    padding: 1rem;

                    &:before {
                        content: attr(data-label);
                        float: left;
                        font-weight: bold;
                    }
                }
            }
        }

        tfoot {
            box-shadow: $box-shadow;
            background-color: #fff;
        }
    }
}
