<div class="opui-bs-docs-section clearfix">
    <div class="opui-row">
        <div class="opui-col-lg-12">
            <div class="opui-page-header">
                <h1>Buttons</h1>
            </div>
        </div>
    </div>
</div>
<main class="opui-main opui-main-auto">
    <div class="opui-p-5">
        <button class="opui-btn opui-btn-admin opui-btn-lg">Admin Button</button>
        <button class="opui-btn opui-btn-admin">Admin Button</button>
        <button class="opui-btn opui-btn-admin opui-btn-sm">Admin Button</button>
    </div>
</main>
