<div class="opui-bs-docs-section clearfix">
    <div class="opui-row">
        <div class="opui-col-lg-12">
            <div class="opui-page-header">
                <h1>Cards</h1>
            </div>
        </div>
    </div>
</div>
<main class="opui-main opui-main-auto">
    <div class="opui-p-5">
        <div class="opui-title-w-icon opui-text-center">
            <h1>
                <i class="opui-icon-dashboard"></i>
                OptimizePress Dashboard
            </h1>
            <p class="opui-teaser">Install plugins and themes from OptimizePress via the dashboard.</p>
        </div>

        <div class="opui-card">
            <div class="opui-card-body">
                <div class="opui-row">
                    <div class="opui-col-6 opui-border-right">
                        <div class="opui-pr-4">
                            <h6 class="opui-mb-4 opui-text-primary">Welcome to your OptimizePress site!</h6>
                            <h1 class="opui-mb-4">Hello Boris Strahija</h1>
                            <p class="opui-mb-5">
                                You currently have the <strong>"Admin Package"</strong>.<br>
                                To disconnect your site, click the button below:
                            </p>
                            <a href="#" class="opui-btn opui-btn-outline-primary">Disconnect</a>
                        </div>
                    </div>

                    <div class="opui-col-6">
                        <div class="opui-pl-6">
                            <div class="opui-status opui-status-success">
                                License status:
                                <span class="opui-badge opui-bg-success">Valid</span>
                            </div>
                            <hr>
                            <p><strong>Expires on: September 30, 2021 </strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="opui-card">
            <div class="opui-card-body opui-text-center">
                <p class="opui-mb-5">
                    To add a new connection, click the button below
                </p>
                <a href="#" class="opui-btn opui-btn-primary opui-btn-md">Add New Integration</a>
            </div>
        </div>
    </div>
</main>
