<div class="opui-bs-docs-section clearfix">
    <div class="opui-row">
        <div class="opui-col-lg-12">
            <div class="opui-page-header">
                <h1>Colors</h1>
            </div>
        </div>
    </div>
</div>
<main class="opui-main opui-main-auto">
    <div class="opui-p-3">

        <div class="test-colors">
            <div class="test-color-row">
                <h2>Main</h2>
                <div class="test-color-list">
                    <div class="test-color-item opui-bg-logo"><span>logo<em>#4249ff</em></span></div>
                    <div class="test-color-item opui-bg-black"><span>black<em>#000000</em></span></div>
                    <div class="test-color-item opui-bg-gray"><span>gray<em>#6d767e</em></span></div>
                    <div class="test-color-item opui-bg-white"><span>white<em>#FFFFFF</em></span></div>
                </div>
            </div>

            <div class="test-color-row">
                <h2>Gray</h2>
                <div class="test-color-list">
                    <div class="test-color-item opui-bg-gray"><span>gray<em>#6d767e</em></span></div>
                    <div class="test-color-item opui-bg-lightgray"><span>light<em>#f0f2f5</em></span></div>
                    <div class="test-color-item opui-bg-darkgray"><span>dark<em>#484f56</em></span></div>
                    <div class="test-color-sep"></div>
                    <div class="test-color-item opui-bg-gray-100"><span>100<em>#f9fafb</em></span></div>
                    <div class="test-color-item opui-bg-gray-150"><span>150<em>#f5f5f6</em></span></div>
                    <div class="test-color-item opui-bg-gray-200"><span>200<em>#ededed</em></span></div>
                    <div class="test-color-item opui-bg-gray-300"><span>300<em>#d1d5db</em></span></div>
                    <div class="test-color-item opui-bg-gray-400"><span>400<em>#acb6c3</em></span></div>
                    <div class="test-color-item opui-bg-gray-500"><span>500<em>#89959f</em></span></div>
                    <div class="test-color-item opui-bg-gray-600"><span>600<em>#6d767e</em></span></div>
                    <div class="test-color-item opui-bg-gray-700"><span>700<em>#484f56</em></span></div>
                    <div class="test-color-item opui-bg-gray-800"><span>800<em>#353b41</em></span></div>
                    <div class="test-color-item opui-bg-gray-900"><span>900<em>#22262a</em></span></div>
                </div>
            </div>

            <div class="test-color-row">
                <h2>Blue</h2>
                <div class="test-color-list">
                    <div class="test-color-item opui-bg-blue"><span>blue<em>#4249ff</em></span></div>
                    <div class="test-color-item opui-bg-lightblue"><span>light<em>#0073ff</em></span></div>
                    <div class="test-color-item opui-bg-darkblue"><span>dark<em>#0051c2</em></span></div>
                    <div class="test-color-sep"></div>
                    <div class="test-color-item opui-bg-blue-100"><span>100<em>#8fc1ff</em></span></div>
                    <div class="test-color-item opui-bg-blue-200"><span>200<em>#4297ff</em></span></div>
                    <div class="test-color-item opui-bg-blue-300"><span>300<em>#0f7bff</em></span></div>
                    <div class="test-color-item opui-bg-blue-400"><span>400<em>#4249ff</em></span></div>
                    <div class="test-color-item opui-bg-blue-500"><span>500<em>#0057c2</em></span></div>
                    <div class="test-color-item opui-bg-blue-600"><span>600<em>#0051c2</em></span></div>
                    <div class="test-color-item opui-bg-blue-700"><span>700<em>#00479e</em></span></div>
                    <div class="test-color-item opui-bg-blue-800"><span>800<em>#003575</em></span></div>
                    <div class="test-color-item opui-bg-blue-900"><span>900<em>#001229</em></span></div>
                </div>
            </div>

            <div class="test-color-row">
                <h2>Green</h2>
                <div class="test-color-list">
                    <div class="test-color-item opui-bg-green"><span>green<em>#00d688</em></span></div>
                    <div class="test-color-item opui-bg-lightgreen"><span>light<em>#b2face</em></span></div>
                    <div class="test-color-item opui-bg-bright-green"><span>bright<em>#b2face</em></span></div>
                    <div class="test-color-item opui-bg-darkgreen"><span>dark<em>#09903d</em></span></div>
                    <div class="test-color-sep"></div>
                    <div class="test-color-item opui-bg-green-100"><span>100<em>#e2fded</em></span></div>
                    <div class="test-color-item opui-bg-green-200"><span>200<em>#b2face</em></span></div>
                    <div class="test-color-item opui-bg-green-300"><span>300<em>#81cb8b</em></span></div>
                    <div class="test-color-item opui-bg-green-400"><span>400<em>#00d688</em></span></div>
                    <div class="test-color-item opui-bg-green-500"><span>500<em>#3ff384</em></span></div>
                    <div class="test-color-item opui-bg-green-600"><span>600<em>#09903d</em></span></div>
                    <div class="test-color-item opui-bg-green-700"><span>700<em>#087833</em></span></div>
                    <div class="test-color-item opui-bg-green-800"><span>800<em>#066029</em></span></div>
                    <div class="test-color-item opui-bg-green-900"><span>900<em>#033014</em></span></div>
                </div>
            </div>

            <div class="test-color-row">
                <h2>Roles</h2>
                <div class="test-color-list">
                    <div class="test-color-item opui-bg-logo"><span>logo<em>#4249ff</em></span></div>
                    <div class="test-color-item opui-bg-primary"><span>primary<em>#4249ff</em></span></div>
                    <div class="test-color-item opui-bg-secondary"><span>secondary<em>#8fc1ff</em></span></div>
                    <div class="test-color-item opui-bg-success"><span>success<em>#00d688</em></span></div>
                    <div class="test-color-item opui-bg-info"><span>info<em>#0f7bff</em></span></div>
                    <div class="test-color-item opui-bg-warning"><span>warning<em>#ffc105</em></span></div>
                    <div class="test-color-item opui-bg-danger"><span>danger<em>#dc3848</em></span></div>
                    <div class="test-color-item opui-bg-light"><span>light<em>#f9fafb</em></span></div>
                    <div class="test-color-item opui-bg-dark"><span>dark<em>#484f56</em></span></div>
                    <div class="test-color-item opui-bg-chapter"><span>chapter<em>#6d95ed</em></span></div>
                    <div class="test-color-item opui-bg-lesson"><span>lesson<em>#4e6086</em></span></div>
                </div>
            </div>

            <div class="test-color-row">
                <h2>Rainbow</h2>
                <div class="test-color-list">
                    <div class="test-color-item opui-bg-indigo"><span>indigo<em>#6812f3</em></span></div>
                    <div class="test-color-item opui-bg-purple"><span>purple<em>#6f42c2</em></span></div>
                    <div class="test-color-item opui-bg-pink"><span>pink<em>#d73385</em></span></div>
                    <div class="test-color-item opui-bg-red"><span>red<em>#dc3848</em></span></div>
                    <div class="test-color-item opui-bg-orange"><span>orange<em>#fd7e17</em></span></div>
                    <div class="test-color-item opui-bg-yellow"><span>yellow<em>#ffc105</em></span></div>
                    <div class="test-color-item opui-bg-green"><span>green<em>#00d688</em></span></div>
                    <div class="test-color-item opui-bg-bright-green"><span>bright green<em>#00d688</em></span></div>
                    <div class="test-color-item opui-bg-teal"><span>teal<em>#20cb98</em></span></div>
                    <div class="test-color-item opui-bg-cyan"><span>cyan<em>#0dccf2</em></span></div>
                    <div class="test-color-item opui-bg-cornflower"><span>cornflower<em>#6d95ed</em></span></div>
                    <div class="test-color-item opui-bg-wedgewood"><span>wedgewood<em>#4e6086</em></span></div>
                </div>
            </div>
        </div>
    </div>
</main>
