<div class="opui-bs-docs-section clearfix">
    <div class="opui-row">
        <div class="opui-col-lg-12">
            <div class="opui-page-header">
                <h1>Colors</h1>
            </div>
        </div>
    </div>
</div>
<main class="opui-main opui-main-auto">
    <div class="opui-p-3">
        <div class="row">
            <div class="opui-color"><div class="opui-color-preview opui-bg-black"></div> Black</div>
            <div class="opui-color"><div class="opui-color-preview opui-bg-white"></div> White</div>
        </div>

        <div class="opui-row">
            <div class="opui-col-3">
                <div class="opui-color"><div class="opui-color-preview opui-bg-gray"></div> Gray</div>
                <div class="opui-color"><div class="opui-color-preview opui-bg-lightgray"></div> Light Gray</div>
                <div class="opui-color"><div class="opui-color-preview opui-bg-darkgray"></div> Dark Gray</div>
                <div class="opui-color"><div class="opui-color-preview opui-bg-gray-100"></div> Gray 100</div>
                <div class="opui-color"><div class="opui-color-preview opui-bg-gray-200"></div> Gray 200</div>
                <div class="opui-color"><div class="opui-color-preview opui-bg-gray-300"></div> Gray 300</div>
                <div class="opui-color"><div class="opui-color-preview opui-bg-gray-400"></div> Gray 400</div>
                <div class="opui-color"><div class="opui-color-preview opui-bg-gray-500"></div> Gray 500</div>
                <div class="opui-color"><div class="opui-color-preview opui-bg-gray-600"></div> Gray 600</div>
                <div class="opui-color"><div class="opui-color-preview opui-bg-gray-700"></div> Gray 700</div>
                <div class="opui-color"><div class="opui-color-preview opui-bg-gray-800"></div> Gray 800</div>
                <div class="opui-color"><div class="opui-color-preview opui-bg-gray-900"></div> Gray 900</div>
            </div>

            <div class="opui-col-3">
                <div class="opui-color"><div class="opui-color-preview opui-bg-blue"></div> blue</div>
                <div class="opui-color"><div class="opui-color-preview opui-bg-lightblue"></div> Light blue</div>
                <div class="opui-color"><div class="opui-color-preview opui-bg-darkblue"></div> Dark blue</div>
                <div class="opui-color"><div class="opui-color-preview opui-bg-blue-100"></div> blue 100</div>
                <div class="opui-color"><div class="opui-color-preview opui-bg-blue-200"></div> blue 200</div>
                <div class="opui-color"><div class="opui-color-preview opui-bg-blue-300"></div> blue 300</div>
                <div class="opui-color"><div class="opui-color-preview opui-bg-blue-400"></div> blue 400</div>
                <div class="opui-color"><div class="opui-color-preview opui-bg-blue-500"></div> blue 500</div>
                <div class="opui-color"><div class="opui-color-preview opui-bg-blue-600"></div> blue 600</div>
                <div class="opui-color"><div class="opui-color-preview opui-bg-blue-700"></div> blue 700</div>
                <div class="opui-color"><div class="opui-color-preview opui-bg-blue-800"></div> blue 800</div>
                <div class="opui-color"><div class="opui-color-preview opui-bg-blue-900"></div> blue 900</div>
            </div>
        </div>
    </div>
</main>
