<div class="opui-bs-docs-section clearfix">
    <div class="opui-row">
        <div class="opui-col-lg-12">
            <div class="opui-page-header">
                <h1>Getting Started</h1>
            </div>
        </div>
    </div>
</div>
<main class="opui-main">
    <div class="opui-p-5">
        <div class="opui-getting-started opui-text-center">
            <h2>Get started with OptimizeProtect</h2>
            <h4 class="opui-teaser">Follow the steps below to get your website ready for using OptimizeProtect</h4>

            <div class="opp-getting-starter-steps">
                <ul>
                    <li class="opui-done">
                        <a href="#">
                            <svg version="1.1" viewBox="0 0 50 45" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><g class="svg-color" transform="translate(-298 -394)" fill="#97A3B4" fill-rule="nonzero"><g transform="translate(298 394)"><polygon id="a" points="36 41.5 29.429 41.5 29.429 38 19.571 38 19.571 41.5 13 41.5 13 45 36 45"></polygon><path d="m48.333 0h-46.667c-0.92 0-1.6667 0.745-1.6667 1.6667v31.667c0 0.92167 0.74667 1.6667 1.6667 1.6667h46.667c0.92 0 1.6667-0.745 1.6667-1.6667v-31.667c0-0.92167-0.74667-1.6667-1.6667-1.6667zm-21.667 16.667v11.667h-3.3333v-11.667h-8.3333l10-10 10 10h-8.3333z"></path></g></g></g></svg>
                            <span>
                                Install <br> Plugin
                            </span>
                        </a>
                    </li>
                    <li class="opui-done">
                        <a href="#">
                            <svg version="1.1" viewBox="0 0 50 47" xmlns="http://www.w3.org/2000/svg"><g fill-rule="evenodd"><g class="svg-color" transform="translate(-512 -392)" fill="#97A3B4" fill-rule="nonzero"><g transform="translate(512 392)"><rect x="6.25" y="26.562" width="14.062" height="3.125"></rect><path id="a" d="m43.75 31.25h-1.5625v-3.125c0-3.5047-2.7453-6.25-6.25-6.25s-6.25 2.7453-6.25 6.25v3.125h-1.5625c-0.86406 0-1.5625 0.7-1.5625 1.5625v12.5c0 0.8625 0.69844 1.5625 1.5625 1.5625h15.625c0.86406 0 1.5625-0.7 1.5625-1.5625v-12.5c0-0.8625-0.69844-1.5625-1.5625-1.5625zm-4.6875 0h-6.25v-3.125c0-1.7812 1.3422-3.125 3.125-3.125s3.125 1.3438 3.125 3.125v3.125z"></path><path d="m3.125 32.812v-14.062h43.75v9.375h3.125v-23.438c0-2.5844-2.1031-4.6875-4.6875-4.6875h-40.625c-2.5844 0-4.6875 2.1031-4.6875 4.6875v28.125c0 2.5844 2.1031 4.6875 4.6875 4.6875h18.75v-3.125h-18.75c-0.8625 0-1.5625-0.70156-1.5625-1.5625zm0-28.125c0-0.86094 0.7-1.5625 1.5625-1.5625h40.625c0.8625 0 1.5625 0.70156 1.5625 1.5625v4.6875h-43.75v-4.6875z"></path></g></g></g></svg>
                            <span>
                                Integrate <br> with something
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://optimizepress.local/wp-admin/admin.php?page=op-checkouts-products">
                            <svg version="1.1" viewBox="0 0 50 47" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><g class="svg-color" transform="translate(-1146 -392)" fill="#97A3B4" fill-rule="nonzero"><g transform="translate(1080 337)"><g transform="translate(66 55)"><path id="Shape" d="m49.738 13.195-6.25-9.375c-0.23438-0.35312-0.60312-0.59531-1.0203-0.67031l-17.188-3.125c-0.017188-0.003125-0.034375 0-0.05-0.003125-0.076562-0.009375-0.15312-0.009375-0.22969-0.009375s-0.15312 0-0.22812 0.010938c-0.017188 0.003125-0.034375-0.0015625-0.05 0.003125l-17.188 3.125c-0.41875 0.073438-0.7875 0.31719-1.0219 0.66875l-6.25 9.375c-0.31875 0.47969-0.35 1.0953-0.078125 1.6031s0.80156 0.82656 1.3781 0.82656h17.188c0.59219 0 1.1328-0.33438 1.3984-0.86406l4.8516-9.7047 4.8516 9.7047c0.26562 0.52969 0.80625 0.86406 1.3984 0.86406h17.188c0.57656 0 1.1062-0.31719 1.3781-0.825s0.24062-1.125-0.078125-1.6047z"></path><path id="a" d="m31.25 18.75c-1.7859 0-3.3906-0.99219-4.1922-2.5875l-0.49531-0.99219v31.148l16.272-7.3969c0.55781-0.25312 0.91562-0.80781 0.91562-1.4219v-18.75h-12.5z"></path><path d="m23.438 15.17-0.49375 0.98906c-0.80312 1.5984-2.4078 2.5906-4.1938 2.5906h-12.5v18.75c0 0.61406 0.35781 1.1688 0.91562 1.4219l16.272 7.3969v-31.148z"></path></g></g></g></g></svg>
                            <span>
                                Create Your First Content
                            </span>
                        </a>
                    </li>
                </ul>

                <a href="#" class="opui-btn opui-btn-lg opui-btn-primary">Complete next steps</a>
            </div>
        </div>
    </div>
</main>
