<div id="headline" class="opui-bs-docs-section clearfix">
    <div class="opui-row">
        <div class="opui-col-lg-12">
            <div class="opui-page-headline">
                <h1>Headline</h1>
            </div>
        </div>
    </div>
</div>
<main class="opui-main opui-main-auto">
    <div class="opui-p-5">
        <div class="opui-headline">
            <h2>Headline</h2>
        </div> 
    </div>
    <div class="opui-p-5">
        <div class="opui-headline">
            <h2>Headline</h2>
			<a href="https://docs.optimizepress.com/article/2706-conversions-dashboard" class="opui-headline-helplink opui-fa opui-fa-question-circle-o" target="_blank"></a>
        </div> 
    </div>
    <div class="opui-p-5">
        <div class="opui-headline">
            <h2>Headline With Description</h2>
			<a href="https://docs.optimizepress.com/article/2706-conversions-dashboard" class="opui-headline-helplink opui-fa opui-fa-question-circle-o" target="_blank"></a>
            <div class="break"></div>
            <p class="opui-headline-description">The Site Status screen shows the status of your server configuration and highlights any settings which do not meet the recommended requirement to run OptimizePress. If you see any alerts on this page, we advise you to follow the “how to fix” steps to resolve these issues to ensure OptimizePress runs with no issues on your server/hosting. <a href="#">Learn more...</a></p>
        </div> 
    </div>
</main>
