<div class="opui-bs-docs-section clearfix">
    <div class="opui-row">
        <div class="opui-col-lg-12">
            <div class="opui-page-header">
                <h1>Header</h1>
            </div>
        </div>
    </div>
</div>
<main class="opui-main opui-main-auto">
    <div class="opui-p-5">
        <header class="opui-header">
            <h2>Title</h2>
        </header> 
    </div>
    <div class="opui-p-5">
        <header class="opui-header">
            <h2>Title</h2>
			<a href="https://docs.optimizepress.com/article/2706-conversions-dashboard" class="opui-header-helplink opui-fa opui-fa-question-circle-o" target="_blank"></a>
        </header> 
    </div>
</main>
