<div class="opui-bs-docs-section clearfix">
    <div class="opui-row">
        <div class="opui-col-lg-12">
            <div class="opui-page-header">
                <h1>Inputs</h1>
            </div>
        </div>
    </div>
</div>
<main class="opui-main opui-main-auto">
    <div class="opui-p-5">
        <label class="opui-checkbox-label"> 
            I have a car
            <input type="checkbox" class="opui-checkbox" name="car" checked="checked"/>
            <span class="opui-checkmark"></span>
        </label>
    </div>
</main>
