<div class="opui-bs-docs-section clearfix">
    <div class="opui-row">
        <div class="opui-col-lg-12">
            <div class="opui-page-header">
                <h1>List of items</h1>
            </div>
        </div>
    </div>
</div>
<main class="opui-main">
    <div class="opui-p-3">
        <div class="opui-max-900 opui-item-list">
            <h6>Memberships</h6>
            <ul>
                <li>
                    <a href="#/memberships/1" class="opui-d-flex opui-justify-content-between opui-align-items-center">
                        <div class="opui-left">
                            <div class="opui-title">
                                <h3>M001</h3>
                            </div>
                        </div>
                        <div class="opui-right">
                            <div><i class="opui-icon-clone"></i></div>
                            <div><i class="opui-icon-trash"></i></div>
                            <div><span class="opui-btn opui-btn-primary opui-btn-small opui-btn-mini">Edit</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#/memberships/1" class="opui-d-flex opui-justify-content-between opui-align-items-center">
                        <div class="opui-left">
                            <div class="opui-title">
                                <h3>M002</h3>
                            </div>
                        </div>
                        <div class="opui-right">
                            <div><i class="opui-icon-clone"></i></div>
                            <div><i class="opui-icon-trash"></i></div>
                            <div><span class="opui-btn opui-btn-primary opui-btn-small opui-btn-mini">Edit</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#/memberships/1" class="opui-d-flex opui-justify-content-between opui-align-items-center">
                        <div class="opui-left">
                            <div class="opui-title">
                                <h3>M003</h3>
                            </div>
                        </div>
                        <div class="opui-right">
                            <div><i class="opui-icon-clone"></i></div>
                            <div><i class="opui-icon-trash"></i></div>
                            <div><span class="opui-btn opui-btn-primary opui-btn-small opui-btn-mini">Edit</span></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
