<div class="opui-bs-docs-section clearfix">
    <div class="opui-row">
        <div class="opui-col-lg-12">
            <div class="opui-page-header">
                <h1>Navigations</h1>
            </div>
        </div>
    </div>
</div>
<main class="opui-main opui-main-auto">
    <div class="opui-p-5">
        <nav class="opui-navigation">
            <ul>
                <li class="active">
                    <input class="opui-nested-input" type="checkbox" checked="checked">
                    <a href="">Plugins</a>
                    <ul class="opui-nested-navigation">
                        <li class=""><a href="#" title="Dashboard"><span>Dashboard</span></a></li>
                        <li class=""><a href="#" title="Checkouts"><span>Checkouts</span></a></li>
                        <li class="">
                            <input class="opui-nested-input" type="checkbox" checked="checked">
                            <a href="#" title="Funnels"><span>Funnels</span></a>
                            <ul class="opui-nested-navigation">
                                <li class=""><a href="#" title="Dashboard"><span>Dashboard</span></a></li>
                                <li class=""><a href="#" title="Checkouts"><span>Checkouts</span></a></li>
                                <li class=""><a href="#" title="Funnels"><span>Funnels</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="">Leads</a></li>
                <li><a href="">Report</a></li>
                <li><a href="">Setings</a></li>
            </ul>
        </nav>
        </br>
        <nav class="opui-navigation opui-justify-content-end">
            <ul>
                <li><a href="">Conversion Dashboard</a></li>
                <li><a href="">Leads</a></li>
                <li><a href="">Report</a></li>
                <li class="active"><a href="#">Setings</a></li>
            </ul>
        </nav>
        </br>
        <nav class="opui-navigation opui-justify-content-center">
            <ul>
                <li><a href="">Conversion Dashboard</a></li>
                <li><a href="">Leads</a></li>
                <li class="active"><a href="">Report</a></li>
                <li><a href="">Setings</a></li>
            </ul>
        </nav>
    </div>
</main>
