<main class="opui-main opui-main-auto">
    <div class="opui-p-5">
        <div class="opui-title-w-icon opui-text-center">
            <h1>
                <i class="opui-icon-dashboard"></i>
                Products
            </h1>
            <p class="opui-teaser">Install plugins and themes from OptimizePress via the dashboard.</p>
        </div>

        <div class="opui-row">
            <div class="opui-col-4">
                <div class="opui-card opui-product-card opui-vertical-flex">
                    <div class="opui-product-head opui-d-flex opui-align-items-center">
                        <div>
                            <i class="opui-icon-op-builder"></i>
                        </div>
                        <div>
                            <h6>Plugin</h6>
                            <h4>OptimizeBuilder</h4>
                        </div>
                    </div>
                    <div class="opui-product-description">
                        <p>Build lightning fast, conversion optimized web pages with the drag and drop page builder from OptimizePress. Built by marketers for marketers.</p>
                    </div>
                    <div class="opui-product-actions">
                        <p>You have: Development version</p>
                        <a class="opui-btn opui-btn-block opui-btn-outline-primary" href="#">
                            Deactivate
                        </a>
                    </div>
                </div>
            </div>

            <div class="opui-col-4">
                <div class="opui-card opui-product-card opui-vertical-flex">
                    <div class="opui-product-head opui-d-flex opui-align-items-center">
                        <div>
                            <i class="opui-icon-op-funnels"></i>
                        </div>
                        <div>
                            <h6>Plugin</h6>
                            <h4>OptimizeFunnels</h4>
                        </div>
                    </div>
                    <div class="opui-product-description">
                        <p>Grow your subscriber list, launch products and make sales with OptimizeFunnels. Built for marketers by marketers.</p>
                    </div>
                    <div class="opui-product-actions">
                        <p>You have: Development version</p>
                        <a class="opui-btn opui-btn-block opui-btn-outline-primary" href="#">
                            Deactivate
                        </a>
                    </div>
                </div>
            </div>

            <div class="opui-col-4">
                <div class="opui-card opui-product-card opui-vertical-flex">
                    <div class="opui-product-head opui-d-flex opui-align-items-center">
                        <div>
                            <i class="opui-icon-clone"></i>
                        </div>
                        <div>
                            <h6>Theme</h6>
                            <h4>Smart Theme v3</h4>
                        </div>
                    </div>
                    <div class="opui-product-description">
                        <p>Conversion optimised, fast WordPress theme with beautiful designs, built by marketers for marketers.</p>
                    </div>
                    <div class="opui-product-actions">
                        <p>You have: 1.0.14 </p>
                        <a class="opui-btn opui-btn-block opui-btn-primary" href="#">
                            Activate
                        </a>
                    </div>
                </div>
            </div>





            <div class="opui-col-4">
                <div class="opui-card opui-product-card opui-vertical-flex">
                    <div class="opui-product-head opui-d-flex opui-align-items-center">
                        <div>
                            <i class="opui-icon-shopping-cart"></i>
                        </div>
                        <div>
                            <h6>Plugin</h6>
                            <h4>OptimizeCheckouts</h4>
                        </div>
                    </div>
                    <div class="opui-product-description">
                        <p>Take payments, sell your products and upsell offers with OptimizeCheckouts. Built for marketers by marketers.</p>
                    </div>
                    <div class="opui-product-actions">
                        <p>You have: Development version</p>
                        <a class="opui-btn opui-btn-block opui-btn-outline-primary" href="#">
                            Deactivate
                        </a>
                    </div>
                </div>
            </div>

            <div class="opui-col-4">
                <div class="opui-card opui-product-card opui-vertical-flex">
                    <div class="opui-product-head opui-d-flex opui-align-items-center">
                        <div>
                            <i class="opui-icon-dashboard"></i>
                        </div>
                        <div>
                            <h6>Plugin</h6>
                            <h4>OptimizeUrgency v3</h4>
                        </div>
                    </div>
                    <div class="opui-product-description">
                        <p>Grow your list and boost sales with social trust.</p>
                    </div>
                    <div class="opui-product-actions">
                        <p>Available version: 1.0.2 </p>
                        <a class="opui-btn opui-btn-block opui-btn-primary" href="#">
                            Install
                        </a>
                    </div>
                </div>
            </div>

            <div class="opui-col-4">
                <div class="opui-card opui-product-card opui-vertical-flex">
                    <div class="opui-product-head opui-d-flex opui-align-items-center">
                        <div>
                            <i class="opui-icon-gear"></i>
                        </div>
                        <div>
                            <h6>Plugin</h6>
                            <h4>OptimizePress Template Editor</h4>
                        </div>
                    </div>
                    <div class="opui-product-description">
                        <p>Edit existing OptimizePress templates from the hub.</p>
                    </div>
                    <div class="opui-product-actions">
                        <p>You have: Development version </p>
                        <a class="opui-btn opui-btn-block opui-btn-outline-primary" href="#">
                            Deactivate
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
