<div class="opui-bs-docs-section clearfix">
    <div class="opui-row">
        <div class="opui-col-lg-12">
            <div class="opui-page-header">
                <h1>Selects</h1>
            </div>
        </div>
    </div>
</div>
<main class="opui-main opui-main-auto">
    <div class="opui-p-5">
        <select class="opui-select" name="" id="">
            <option value="1">Saab</option>
            <option value="2">Isuzu</option>
            <option value="3">Ford</option>
        </select> 
    </div>
</main>
