<div class="opui-bs-docs-section clearfix">
    <div class="opui-row">
        <div class="opui-col-lg-12">
            <div class="opui-page-header">
                <h1>Edit Screen (2 column settings with sidenav)</h1>
            </div>
        </div>
    </div>
</div>
<div class="opui-main opui-main-auto opui-example-container">
    <div class="opui-2-col-settings">
        <div class="opui-settings-sidenav">
            <nav>
                <ul>
                    <li class="selected">
                        <a>
                            <h3>
                                <i class="opui-icon-wallet"></i>
                                Nav Item 1
                            </h3>
                            <span>Lorem ipsum dolorem</span>
                        </a>
                    </li>
                    <li class="">
                        <a>
                            <h3>
                                <i class="opui-icon-wallet"></i>
                                Nav Item 2
                            </h3>
                            <span>Lorem ipsum</span>
                        </a>
                    </li>
                    <li class="">
                        <a>
                            <h3>
                                <i class="opui-icon-wallet"></i>
                                Nav item 3
                            </h3>
                            <span>Lorem ipsum dolorem sit</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="opui-settings-main">
            <h2>Membership Information</h2>
            <div class="opui-settings-container">
                <form class="opui-form">
                    <div class="opp-settings-general">
                        <div class="opui-form-group opui-row">
                            <div class="opui-col-md-3"><label>Membership Name</label></div>
                            <div class="opui-col-md-9">
                                <input type="text" placeholder="Enter name for this Membership" class="opui-form-control" required="">
                                <p class="opui-form-text">Select membership which will get access for this protected content</p>
                            </div>
                        </div>
                        <div class="opui-form-group opui-row">
                            <div class="opui-col-md-3"><label>Membership Priority</label></div>
                            <div class="opui-col-md-9">
                                <input type="number" placeholder="Enter priority for this Membership" class="opui-form-control" required="">
                                <p class="opui-form-text">Set a priority for this membership. Higher membership will take priority for redirect options.</p>
                            </div>
                        </div>
                        <div class="opui-form-actions opui-text-right">
                            <button type="button" class="opui-btn opui-btn-primary saving">
                                <span class="opui-spinner opui-spinner-border opui-text-light opui-mr-2"></span>
                                <span class="opui-btn-label">Save changes</span>
                                <span class="opui-btn-saving-label">Saving...</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
$(function() {
    var $buttons = $('.opui-2-col-settings .opui-btn');
    $buttons.click(function() {
        $(this).toggleClass('saving');
    });
});
</script>
