<div class="opui-bs-docs-section clearfix">
    <div class="opui-row">
        <div class="opui-col-lg-12">
            <div class="opui-page-header">
                <h1>Skeleton Loading - Item List</h1>
            </div>
        </div>
    </div>
</div>
<div class="opui-main opui-main-auto opui-example-container">
    <div class="opui-p-3">
        <div class="opui-max-900 opui-item-list opui-p-7">
            <ul class="opui-item-list-is-loading">
                <li>
                    <div class="opui-item opui-d-flex opui-justify-content-between opui-align-items-center">
                        <div class="opui-left">
                            <div class="opui-title">
                                <h3>Loading</h3>
                                <div>...</div>
                            </div>
                        </div>

                        <div class="opui-right">
                            <div>
                                <div class="opui-btn opui-btn-small opui-btn-mini">Edit</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="opui-item opui-d-flex opui-justify-content-between opui-align-items-center">
                        <div class="opui-left">
                            <div class="opui-title">
                                <h3>Loading</h3>
                                <div>...</div>
                            </div>
                        </div>

                        <div class="opui-right">
                            <div>
                                <div class="opui-btn opui-btn-small opui-btn-mini">Edit</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="opui-item opui-d-flex opui-justify-content-between opui-align-items-center">
                        <div class="opui-left">
                            <div class="opui-title">
                                <h3>Loading</h3>
                                <div>...</div>
                            </div>
                        </div>

                        <div class="opui-right">
                            <div>
                                <div class="opui-btn opui-btn-small opui-btn-mini">Edit</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="opui-item opui-d-flex opui-justify-content-between opui-align-items-center">
                        <div class="opui-left">
                            <div class="opui-title">
                                <h3>Loading</h3>
                                <div>...</div>
                            </div>
                        </div>

                        <div class="opui-right">
                            <div>
                                <div class="opui-btn opui-btn-small opui-btn-mini">Edit</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="opui-bs-docs-section clearfix">
    <div class="opui-row">
        <div class="opui-col-lg-12">
            <div class="opui-page-header">
                <h1>Skeleton Loading - Settings Screen</h1>
            </div>
        </div>
    </div>
</div>
<div class="opui-main opui-main-auto opui-example-container">
    <div class="opui-2-col-settings opui-2-col-settings-are-loading">
        <div class="opui-settings-sidenav">
            <nav>
                <ul>
                    <li>
                        <a>
                            <h3>
                                <i class="opui-icon-wallet"></i>nav item
                            </h3>
                            <span>information about nav item</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <h3>
                                <i class="opui-icon-wallet"></i>nav item
                            </h3>
                            <span>information about nav item</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <h3>
                                <i class="opui-icon-wallet"></i>nav item
                            </h3>
                            <span>information about nav item</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="opui-settings-main">
            <h2><span>Loading settings section</span></h2>

            <div class="opui-settings-container">
                <form class="opui-form opui-pb-7">
                    <div class="opp-settings-general">
                        <div class="opui-form-group opui-row">
                            <div class="opui-col-md-3">
                                <label>Loading</label>
                            </div>

                            <div class="opui-col-md-9">
                                <div class="opui-input-placeholder"></div>
                                <p class="opui-form-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, quo?</p>
                            </div>
                        </div>

                        <div class="opui-form-group opui-row">
                            <div class="opui-col-md-3">
                                <label>Membership Priority</label>
                            </div>

                            <div class="opui-col-md-9">
                                <div class="opui-input-placeholder"></div>
                                <p class="opui-form-text">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                            </div>
                        </div>

                        <div class="opui-form-actions">
                            <div class="opui-btn">Save changes</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
