<div class="opui-bs-docs-section clearfix">
    <div class="opui-row">
        <div class="opui-col-lg-12">
            <div class="opui-page-header">
                <h1>Table</h1>
            </div>
        </div>
    </div>
</div>
<main class="opui-main opui-main-auto">
    <div class="opui-p-5">
        <table class="opui-advanced-table">
            <thead>
                <tr>
                    <th><input type="checkbox" /></th>
                    <th>Contact Email</th>
                    <th>Name</th>
                    <th>Date/Time</th>
                    <th>Page URL</th>
                    <th>Form ID</th>
                    <th>Integration</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td data-label="Contact Email">info@optimizepress.com</td>
                    <td data-label="Name">Optimizepress</td>
                    <td data-label="Date/Time">Nov, 10 2012</td>
                    <td data-label="Page URL">/test-page</td>
                    <td data-label="Form ID">t8a123ls</td>
                    <td data-label="Integration">email</td>
                    <td data-label="Link">Link</td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td data-label="Contact Email">info@optimizepress.com</td>
                    <td data-label="Name">Optimizepress</td>
                    <td data-label="Date/Time">Nov, 10 2012</td>
                    <td data-label="Page URL">/test-page</td>
                    <td data-label="Form ID">t8a123ls</td>
                    <td data-label="Integration">email</td>
                    <td data-label="Link">Link</td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td data-label="Contact Email">info@optimizepress.com</td>
                    <td data-label="Name">Optimizepress</td>
                    <td data-label="Date/Time">Sep, 10 2012</td>
                    <td data-label="Page URL">/test-page</td>
                    <td data-label="Form ID">t8a123ls</td>
                    <td data-label="Integration">email</td>
                    <td data-label="Link">Link</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row" colspan="8">
                        Rows per page                
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <select name="per_pg" id="per_pg">
                                <option value="5">5</option>
                                <option value="10" selected="selected">10</option>
                                <option value="15">15</option>
                        </select>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        1 - 10 of 15                
                        <ul class="opui-pagination opui-justify-content-center" role="navigation">
                            <li class="opui-page-item" disabled"="" aria-disabled="true" aria-label="Previous">
                                <span class="opui-page-link" aria-hidden="true">‹</span>
                            </li>
                            <li class="opui-page-item active" aria-current="page">
                                <span class="opui-page-link">1</span>
                            </li>
                            <li class="opui-page-item">
                                <a class="opui-page-link" href="https://wp.local/wp-admin/admin.php?page=op-dashboard-conversions&amp;op-conversions-group=leads&amp;pg=2">2</a>
                            </li>
                            <li class="opui-page-item">
                                <a class="opui-page-link" href="https://wp.local/wp-admin/admin.php?page=op-dashboard-conversions&amp;op-conversions-group=leads&amp;pg=2" rel="next" aria-label="Next">›</a>
                            </li>
                        </ul>
                    </th>
                </tr>
            </tfoot>
        </table> 
    </div>
</main>
