<div class="opui-bs-docs-section clearfix">
    <div class="opui-row">
        <div class="opui-col-lg-12">
            <div class="opui-page-header">
                <h1>Table</h1>
            </div>
        </div>
    </div>
</div>
<main class="opui-main opui-main-auto">
    <div class="opui-p-5">
        <table class="opui-advanced-table">
            <thead>
                <tr>
                    <th><input type="checkbox" /></th>
                    <th>Contact Email</th>
                    <th>Name</th>
                    <th>Date/Time</th>
                    <th>Page URL</th>
                    <th>Form ID</th>
                    <th>Integration</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>info@optimizepress.com</td>
                    <td>Optimizepress</td>
                    <td>Nov, 10 2012</td>
                    <td>/test-page</td>
                    <td>t8a123ls</td>
                    <td>email</td>
                    <td>Link</td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>info@optimizepress.com</td>
                    <td>Optimizepress</td>
                    <td>Nov, 10 2012</td>
                    <td>/test-page</td>
                    <td>t8a123ls</td>
                    <td>email</td>
                    <td>Link</td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>info@optimizepress.com</td>
                    <td>Optimizepress</td>
                    <td>Sep, 10 2012</td>
                    <td>/test-page</td>
                    <td>t8a123ls</td>
                    <td>email</td>
                    <td>Link</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row" colspan="2">
                        Rows Per Page
                        <select name="" id="">
                            <option value="10">5</option>
                            <option value="10">10</option>
                        </select>
                    </th>
                </tr>
            </tfoot>
        </table> 
    </div>
</main>
