<div class="opui-bs-docs-section clearfix">
    <div class="opui-row">
        <div class="opui-col-lg-12">
            <div class="opui-page-header">
                <h1>Title with Icon (Subtitle)</h1>
            </div>
        </div>
    </div>
</div>
<main class="opui-main opui-main-auto">
    <div class="opui-p-5">
        <div class="opui-title-w-icon opui-text-center">
            <h1>
                <i class="opui-icon-integrations-round"></i>
                Integrations
            </h1>
            <p class="opui-teaser">Add and maintain integrations that will be used across your OptimizePress products.</p>
        </div>
    </div>
</main>
