<div class="opui-bs-docs-section clearfix">
    <div class="opui-row">
        <div class="opui-col-lg-12">
            <div class="opui-page-header">
                <h1>Top menus</h1>
                <p class="opui-lead">Used by all OptimizePress plugins</p>
            </div>
        </div>
    </div>
</div>
<div class="opui-top-menu opui-d-flex opui-justify-content-between opui-align-items-center opui-mb-0">
    <nav class="opui-left opui-pl-5">
        <ul>
            <li class="opui-d-flex opui-align-items-center"><a class="opui-logo" href="/wp-admin/admin.php?page=op-suite"><i class="opui-icon-logo"></i></a></li>
        </ul>
    </nav>
    <nav class="opui-right">
        <nav class="opui-main-menu">
            <ul class="opui-right-menu">
                <li class="">
                    <a href="#">
                        <i class="opui-icon-dashboard-complex"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class="opui-icon-link"></i>
                        <span>Membership</span>
                    </a>
                </li>
                <li class="">
                    <a href="#" title="Content">
                        <i class="opui-icon-layers"></i>
                        <span>Content</span>
                    </a>
                </li>
                <li class="">
                    <a href="https://optimizepress.local/wp-admin/admin.php?page=op-protect#/members" title="Members">
                        <i class="opui-icon-mail"></i>
                        <span>Members</span>
                    </a>
                </li>
                <li class="">
                    <a href="https://optimizepress.local/wp-admin/admin.php?page=op-protect#/settings" title="Settings">
                        <i class="opui-icon-settings-square"></i>
                        <span>Settings</span>
                    </a>
                </li>
                <li class="">
                    <a href="http://docs.optimizepress.com/" title="Help">
                        <i class="opui-icon-help"></i>
                        <span>Help</span>
                    </a>
                </li>
            </ul>
        </nav>
        <ul class="opui-right-static">
            <li class="opui-fullscreen-btn">
                <a href="#">
                    <i class="opui-icon-fullscreen-fill"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>
<header>
    <div class="opui-submenu opui-d-flex opui-justify-content-between opui-align-items-center opui-pl-5 opui-pr-5">
        <h1>Memberships</h1>
        <a class="opui-btn opui-btn-primary">Create New Membership</a>
    </div>
</header>
