.opui-empty-list {
    max-width: 900px;

    .opui-empty-list-media {
        padding-right: 50px;

        img, svg, iframe, video {
            max-width: 450px;
        }
    }

    .opui-empty-list-text {
        h2 {
            font-size: 32px;
            margin-bottom: 18px;
        }

        h3 {
            font-size: 25px;
            margin-bottom: 16px;
        }

        h4 {
            font-size: 20px;
            margin-bottom: 15px;
        }

        p {
            font-size: 18px;
        }
    }

    .opui-btn {
        padding: 11px 35px;
    }
}
