.#{$op-prefix}table-is-loading {
    @keyframes skeleton-loading {
        0% {
            color: hsl(0, 0%, 93%);
            background-color: hsl(0, 0%, 93%);
        }
        100% {
            color: hsl(0, 0%, 85%);;
            background-color: hsl(0, 0%, 85%);;
        }
    }

    @keyframes skeleton-loading-shimmer {
        0% {
            background-position: -468px 0
        }

        100% {
            background-position: 468px 0
        }
    }

    td, th {

        h3, p, div, span {
            text-indent: -9999px;
            white-space: nowrap;
            animation-duration: 1.25s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-name: skeleton-loading-shimmer;
            animation-timing-function: linear;
            background: #F6F6F6;
            background: linear-gradient(to right, hsl(0, 0%, 93%) 8%, hsl(0, 0%, 96%) 18%, hsl(0, 0%, 93%) 33%);
            background-size: 800px 104px;
            position: relative;
        }


        h3 {
            border-radius: 2px;
            // background-color: $color--opui-gray200;
            // color: $color--opui-gray200;
            width: 40%;
            // animation: skeleton-loading 1s linear infinite alternate !important;
        }

        p, div, span {
            font-size: 11px;
            display: block;
            border-radius: 2px;
            margin-top: 4px;
            // background: $color--opui-gray200;
            // color: $color--opui-gray200;
            width: 75%;
            // animation: skeleton-loading 1s linear infinite alternate !important;
        }
    }

    .#{$op-prefix}btn {
        opacity: .5;
        background-color: $color--opui-gray200;
        color: $color--opui-gray200;
        border: none !important;
        animation: skeleton-loading 1s linear infinite alternate !important;
    }

}
