div[class^='#{$op-prefix}col'], div[class*=' #{$op-prefix}col'] {
    margin-bottom: $grid-gutter-height;
}

div[class^='#{$op-prefix}collapse'], div[class*=' #{$op-prefix}collapse'] {
    margin-bottom: 0;
}

.#{$op-prefix}vertical-flex {
    height: 100%;

    & > div {
        height: 100%;
    }
}

.#{$op-prefix}two-column-flex {
    & > div {
        width: 50%;
    }
}

.#{$op-prefix}container {
    padding-left: 30px;
    padding-right: 30px;
}
