div[class^='#{$op-prefix}col'], div[class*=' #{$op-prefix}ccol']{
    margin-bottom: $grid-gutter-height;
}

.#{$op-prefix}vertical-flex {
    height: 100%;

    & > div {
        height: 100%;

        & > div {
            // width: 100%;
        }
    }
}

.#{$op-prefix}two-column-flex {
    & > div {
        width: 50%;
    }
}
