.op-plugin-app-container {
    margin-left: 0;
    font-size: 2.56rem;
}

.#{$op-prefix}main {
    background-color: #fbfbfd;
    min-height: 100vh;
}

.#{$op-prefix}main-auto {
    min-height: auto;
    padding-bottom: 50px;
}

.#{$op-prefix}min-10vw {
    min-height: 100vw;
}

.#{$op-prefix}min-10vh {
    min-height: 100vh;
}
