.#{$op-prefix}w-25 {
    width: 25% !important;
}

.#{$op-prefix}w-50 {
    width: 50% !important;
}

.#{$op-prefix}w-75 {
    width: 75% !important;
}

.#{$op-prefix}w-100 {
    width: 100% !important;
}

.#{$op-prefix}w-auto {
    width: auto !important;
}

.#{$op-prefix}h-25 {
    height: 25% !important;
}

.#{$op-prefix}h-50 {
    height: 50% !important;
}

.#{$op-prefix}h-75 {
    height: 75% !important;
}

.#{$op-prefix}h-100 {
    height: 100% !important;
}

.#{$op-prefix}h-auto {
    height: auto !important;
}

.#{$op-prefix}mw-100 {
    max-width: 100% !important;
}

.#{$op-prefix}mh-100 {
    max-height: 100% !important;
}

.#{$op-prefix}min-vw-100 {
    min-width: 100vw !important;
}

.#{$op-prefix}min-vh-100 {
    min-height: 100vh !important;
}

.#{$op-prefix}vw-100 {
    width: 100vw !important;
}

.#{$op-prefix}vh-100 {
    height: 100vh !important;
}

.#{$op-prefix}w-300 {
    width: 300px;
}

.#{$op-prefix}max-900 {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.#{$op-prefix}max-1200 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
