// Global configuration
[class^="#{$op-prefix}icon"],
[class*=" #{$op-prefix}icon"] {
    display: inline-block;

    &::before {
        font-family: "opui-font" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

$icons: (
    a-security: "ea02",
    basket-simple: "ea01",
    crown: "ea03",
    cart: "ea04",
    coins: "ea05",
    credit-card: "ea06",
    house-pricing: "ea07",
    letter: "ea08",
    money-coins: "ea09",
    money: "ea0a",
    percent-sign: "ea0b",
    percentage-circle: "ea0c",
    single: "ea0d",
    traffic: "ea0e",
    trend-up: "ea0f",
    animation: "ea10",
    edit: "ea11",
    trophy: "ea12",
    multiple: "ea13",
    basket: "ea14",
    percentage: "ea15",
    mail: "ea16",
    wallet: "ea17",
    split-branch: "ea18",
    chart-bar: "ea19",
    chart: "ea1a",
    animation-alt: "ea1b",
    lock-c: "ea1c",
    remove-c: "ea1d",
    check-c: "ea1e",
    dashboard-simple: "ea1f",
    window-add: "ea20",
    op-builder: "ea21",
    op-funnels: "ea22",
    op-leads: "ea23",
    op-member: "ea24",
    op-urgency: "ea25",
    smart-theme: "ea26",
    close-fill: "ea27",
    zoom-plus: "ea28",
    help: "ea29",
    layers: "ea2a",
    clone: "ea2b",
    dashboard-complex: "ea2c",
    funnel-lines: "ea2d",
    integrations-round: "ea2e",
    settings-square: "ea2f",
    trash: "ea30",
    shopping-cart: "ea31",
    camera: "ea32",
    launch: "ea33",
    open-in-browser: "ea34",
    save: "ea35",
    redo: "ea36",
    undo: "ea37",
    square-remove: "ea38",
    anchor: "ea39",
    circle-add: "ea3a",
    funnel: "ea3b",
    page: "ea3c",
    question: "ea3d",
    single-copy: "ea3e",
    arrow-left: "ea3f",
    product: "ea40",
    settings: "ea41",
    close: "ea42",
    details-arrow-right: "ea43",
    sort: "ea44",
    eye: "ea45",
    funnel-sales: "ea46",
    funnel-stats: "ea47",
    funnel-steps: "ea48",
    gear: "ea49",
    link: "ea4a",
    logout: "ea4b",
    menu: "ea4c",
    play: "ea4d",
    plus: "ea4e",
    fullscreen-fill: "ea4f",
    logo: "ea50",
    dashboard: "ea51",
    integrations: "ea52",
);

// Also add product icons
$productIcons: (
    op-builder: "ea21",
    op-courses: "ea1f",
    op-checkouts: "ea04",
    op-cart: "ea04",
    op-dashboard: "ea51",
    op-funnels: "ea22",
    op-leads: "ea23",
    op-member: "ea24",
    op-protect: "ea02",
    op-smart-theme: "ea2b",
    op-smart-theme3: "ea2b",
    op-templates: "ea41",
    op-urgency: "ea2c",
    op-urgency-3: "ea2c",
);

@function unicode($str) {
    @return unquote('"\\#{$str}"');
}

@each $name, $code in $icons {
    .#{$op-icon-prefix}#{$name}:before {
        content: unicode($code);
    }
}
@each $name, $code in $productIcons {
    .#{$op-icon-prefix}product-#{$name}:before {
        content: unicode($code);
    }
}
