.#{$op-prefix}container, .#{$op-prefix}plugin-container {
    font-family: $font-family;
}

.#{$op-prefix}subline, .#{$op-prefix}subtitle, .#{$op-prefix}teaser {
    color: $color--opui-gray400;
}

pre {
    font-size: 16px;
}
