h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}

.#{$op-prefix}container, .#{$op-prefix}plugin-container {
    font-family: $font-family;
}

.#{$op-prefix}subline, .#{$op-prefix}subtitle, .#{$op-prefix}teaser {
    color: $color--opui-gray400;
}

pre {
    font-size: 16px;
}
