.#{$op-prefix}me-auto {
    margin-right: auto !important;
}

.#{$op-prefix}ms-2 {
    margin-left: 0.5rem !important;
}

.#{$op-prefix}ms-md-auto {
    margin-left: auto !important;
}

.#{$op-prefix}me-2 {
    margin-right: 0.5rem !important;
}

.#{$op-prefix}me-sm-2 {
    margin-right: 0.5rem !important;
}

.#{$op-prefix}float-end {
    float: right !important;
}

.#{$op-prefix}flex {
    display: flex !important;
}

.#{$op-prefix}inline-flex {
    display: inline-flex !important;
}

.#{$op-prefix}flex-1 {
    flex: 1 1 0 !important;
}
.#{$op-prefix}flex-auto {
    flex: 1 1 auto !important;
}

.#{$op-prefix}flex-initial {
    flex: 0 1 auto !important;
}
.#{$op-prefix}flex-none {
    flex: none !important;
}

.#{$op-prefix}flex-fill {
    flex: 1 1 auto !important;
}

.#{$op-prefix}flex-row {
    flex-direction: row !important;
}

.#{$op-prefix}flex-column {
    flex-direction: column !important;
}

.#{$op-prefix}flex-row-reverse {
    flex-direction: row-reverse !important;
}

.#{$op-prefix}flex-column-reverse {
    flex-direction: column-reverse !important;
}

.#{$op-prefix}flex-grow-0 {
    flex-grow: 0 !important;
}

.#{$op-prefix}flex-grow-1 {
    flex-grow: 1 !important;
}

.#{$op-prefix}flex-shrink-0 {
    flex-shrink: 0 !important;
}

.#{$op-prefix}flex-shrink-1 {
    flex-shrink: 1 !important;
}

.#{$op-prefix}flex-wrap {
    flex-wrap: wrap !important;
}

.#{$op-prefix}flex-nowrap {
    flex-wrap: nowrap !important;
}

.#{$op-prefix}flex-wrap-reverse {
    flex-wrap: wrap-reverse !important;
}

.#{$op-prefix}gap-0 {
    gap: 0 !important;
}

.#{$op-prefix}gap-1 {
    gap: 0.25rem !important;
}

.#{$op-prefix}gap-2 {
    gap: 0.5rem !important;
}

.#{$op-prefix}gap-3 {
    gap: 1rem !important;
}

.#{$op-prefix}gap-4 {
    gap: 1.5rem !important;
}

.#{$op-prefix}gap-5 {
    gap: 3rem !important;
}

.#{$op-prefix}justify-content-start {
    justify-content: flex-start !important;
}

.#{$op-prefix}justify-content-end {
    justify-content: flex-end !important;
}

.#{$op-prefix}justify-content-center {
    justify-content: center !important;
}

.#{$op-prefix}justify-content-between {
    justify-content: space-between !important;
}

.#{$op-prefix}justify-content-around {
    justify-content: space-around !important;
}

.#{$op-prefix}justify-content-evenly {
    justify-content: space-evenly !important;
}

.#{$op-prefix}align-items-start {
    align-items: flex-start !important;
}

.#{$op-prefix}align-items-end {
    align-items: flex-end !important;
}

.#{$op-prefix}align-items-center {
    align-items: center !important;
}

.#{$op-prefix}align-items-baseline {
    align-items: baseline !important;
}

.#{$op-prefix}align-items-stretch {
    align-items: stretch !important;
}

.#{$op-prefix}align-content-start {
    align-content: flex-start !important;
}

.#{$op-prefix}align-content-end {
    align-content: flex-end !important;
}

.#{$op-prefix}align-content-center {
    align-content: center !important;
}

.#{$op-prefix}align-content-between {
    align-content: space-between !important;
}

.#{$op-prefix}align-content-around {
    align-content: space-around !important;
}

.#{$op-prefix}align-content-stretch {
    align-content: stretch !important;
}

.#{$op-prefix}align-self-auto {
    align-self: auto !important;
}

.#{$op-prefix}align-self-start {
    align-self: flex-start !important;
}

.#{$op-prefix}align-self-end {
    align-self: flex-end !important;
}

.#{$op-prefix}align-self-center {
    align-self: center !important;
}

.#{$op-prefix}align-self-baseline {
    align-self: baseline !important;
}

.#{$op-prefix}align-self-stretch {
    align-self: stretch !important;
}

.#{$op-prefix}.w-25 {
    width: 25% !important;
}

.#{$op-prefix}.w-50 {
    width: 50% !important;
}

.#{$op-prefix}.w-75 {
    width: 75% !important;
}

.#{$op-prefix}.w-100 {
    width: 100% !important;
}

.#{$op-prefix}.w-auto {
    width: auto !important;
}

.#{$op-prefix}.mw-100 {
    max-width: 100% !important;
}

.#{$op-prefix}.vw-100 {
    width: 100vw !important;
}

.#{$op-prefix}.min-vw-100 {
    min-width: 100vw !important;
}

.#{$op-prefix}.h-25 {
    height: 25% !important;
}

.#{$op-prefix}.h-50 {
    height: 50% !important;
}

.#{$op-prefix}.h-75 {
    height: 75% !important;
}

.#{$op-prefix}.h-100 {
    height: 100% !important;
}

.#{$op-prefix}.h-auto {
    height: auto !important;
}

.#{$op-prefix}.mh-100 {
    max-height: 100% !important;
}

.#{$op-prefix}.vh-100 {
    height: 100vh !important;
}

.#{$op-prefix}.min-vh-100 {
    min-height: 100vh !important;
}
