.#{$op-prefix}me-auto {
    margin-right: auto !important;
}

.#{$op-prefix}ms-2 {
    margin-left: 0.5rem !important;
}

.#{$op-prefix}ms-md-auto {
    margin-left: auto !important;
}

.#{$op-prefix}me-2 {
    margin-right: 0.5rem !important;
}

.#{$op-prefix}me-sm-2 {
    margin-right: 0.5rem !important;
}

.#{$op-prefix}float-end {
    float: right !important;
}
