// Main settings
$op-prefix: 'opui-' !default;
$op-icon-prefix: 'opui-icon-' !default;
$opui-wrapper: 'body' !default;

// Colors
$color--opui-white: hsl(0, 0%, 100%); // #ffffff
$color--opui-black: hsl(0, 0%, 0%); // #000000

// Grays
$color--opui-gray:      hsl(208, 7%, 46%);  // #6c757d
$color--opui-lightgray: hsl(216, 20%, 95%); // #f0f2f5;
$color--opui-darkgray:  hsl(210, 9%, 31%);  // #495057;
$color--opui-gray100:   hsl(210, 17%, 98%); // #f8f9fa;
$color--opui-gray150:   hsl(240, 5%, 96%);  // #f5f5f6;
$color--opui-gray200:   hsl(0, 0%, 93%);    // #eeeeee;
$color--opui-gray300:   hsl(210, 14%, 83%); // #ced4da;
$color--opui-gray400:   hsl(215, 16%, 72%); // #97A3B4;
$color--opui-gray500:   hsl(207, 10%, 58%); // #8a96a0;
$color--opui-gray600:   hsl(208, 7%, 46%);  // #6c757d;
$color--opui-gray700:   hsl(210, 9%, 31%);  // #495057;
$color--opui-gray800:   hsl(210, 10%, 23%); // #343a40;
$color--opui-gray900:   hsl(210, 11%, 15%); // #212529;

// Blues
$color--opui-blue:      hsl(237.8, 100%, 62.9%); // #4249FF;
$color--opui-lightblue: hsl(237.8, 100%, 50%);   // #0074ff;
$color--opui-darkblue:  hsl(237.8, 100%, 38%);   // #0051c3;
$color--opui-blue100:   hsl(237.8, 100%, 78%);   // #8fc1ff
$color--opui-blue200:   hsl(237.8, 100%, 63%);   // #4297ff
$color--opui-blue300:   hsl(237.8, 100%, 53%);   // #0f7bff
$color--opui-blue400:   $color--opui-blue;         // #0063db
$color--opui-blue500:   hsl(237.8, 100%, 38%);   // #0057c2
$color--opui-blue600:   $color--opui-darkblue;     // #0051c2
$color--opui-blue700:   hsl(237.8, 100%, 31%);   // #00479e
$color--opui-blue800:   hsl(237.8, 100%, 23%);   // #003575
$color--opui-blue900:   hsl(237.8, 100%, 8%);    // #001229

// Rainbow
$color--opui-indigo:       hsl(263, 90%, 51%);  // #6610f2;
$color--opui-purple:       hsl(261, 51%, 51%);  // #6f42c1;
$color--opui-pink:         hsl(330, 67%, 52%);  // #d63384;
$color--opui-red:          hsl(354, 70%, 54%);  // #dc3545;
$color--opui-orange:       hsl(27, 98%, 54%);   // #fd7e14;
$color--opui-yellow:       hsl(45, 100%, 51%);  // #ffc107;
$color--opui-green:        hsl(158, 100%, 42%); // #00d88a;
$color--opui-bright-green: hsl(158, 100%, 42%); // #00d88a;
$color--opui-teal:         hsl(162, 73%, 46%);  // #20c997;
$color--opui-cyan:         hsl(190, 90%, 50%);  // #0dcaf0;

// Roles
$color--opui-primary: $color--opui-blue;
$color--opui-secondary: $color--opui-blue100;
$color--opui-success: $color--opui-bright-green;
$color--opui-info: $color--opui-blue300;
$color--opui-warning: $color--opui-yellow;
$color--opui-danger: $color--opui-red;
$color--opui-light: $color--opui-gray100;
$color--opui-dark: $color--opui-gray900;

// Also define colors for Bootstrap
$blue: $color--opui-blue;
$pink: hsl(332, 79%, 58%); // #e83e8c !default;
$red: $color--opui-red;
$orange: hsl(27, 98%, 54%); // #fd7e14 !default;
$yellow: $color--opui-yellow;
$green: $color--opui-green;
$teal: hsl(162, 73%, 46%); // #20c997 !default;
$cyan: $color--opui-blue300;
// Grid
$grid-gutter-height: 30px;
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
) !default;
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
) !default;

// Borders
$border-radius: 4px;
$border-radius-lg: 6px;
$border-radius-sm: 8px;

// Fonts
$font-family:            Inter, sans-serif !default;
$font-size-base:         1.6rem; // Assumes the browser default, typically `16px`
$font-size-lg:           $font-size-base * 1.25 !default;
$font-size-sm:           $font-size-base * .875 !default;
$navbar-brand-font-size: 2rem;

// Forms
$input-border-color: $color--opui-gray300;

// Box Shadows
$box-shadow: 0px 0px 5px 0px rgba($color--opui-black, 0.05);

// Transitions
$transition--opui-color-linear: color .3s linear;

// Spacing
$spacer: 10px !default;
$spacers: () !default;
$spacers: map-merge(
        (
            0: 0,
            1: ($spacer * .25),
            2: ($spacer * .5),
            3: $spacer,
            4: ($spacer * 1.5),
            5: ($spacer * 3),
            6: ($spacer * 4.5),
            7: ($spacer * 6),
            8: ($spacer * 7.5),
            9: ($spacer * 9),
            10: ($spacer * 12)
        ),
        $spacers
);

// Buttons
$btn-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;

// Also define CSS variables for our colors and
:root {
    // Fonts
    --#{$op-prefix}-font-family: #{$font-family};

    // Borders
    --#{$op-prefix}-border-radius: #{$border-radius};

    // Box Shadow
    --#{$op-prefix}-box-shadow: #{$box-shadow};

    // Black/White
    --#{$op-prefix}-white: #{$color--opui-white};
    --#{$op-prefix}-black: #{$color--opui-black};

    // Grays
    --#{$op-prefix}-gray:     #{$color--opui-gray};
    --#{$op-prefix}-darkgray: #{$color--opui-darkgray};
    --#{$op-prefix}-gray100:  #{$color--opui-gray100};
    --#{$op-prefix}-gray150:  #{$color--opui-gray150};
    --#{$op-prefix}-gray200:  #{$color--opui-gray200};
    --#{$op-prefix}-gray300:  #{$color--opui-gray300};
    --#{$op-prefix}-gray400:  #{$color--opui-gray400};
    --#{$op-prefix}-gray500:  #{$color--opui-gray500};
    --#{$op-prefix}-gray600:  #{$color--opui-gray600};
    --#{$op-prefix}-gray700:  #{$color--opui-gray700};
    --#{$op-prefix}-gray800:  #{$color--opui-gray800};
    --#{$op-prefix}-gray900:  #{$color--opui-gray900};

    // Blues
    --#{$op-prefix}-blue:      #{$color--opui-blue};
    --#{$op-prefix}-darkblue:  #{$color--opui-darkblue};
    --#{$op-prefix}-lightblue: #{$color--opui-lightblue};
    --#{$op-prefix}-blue100:   #{$color--opui-blue100};
    --#{$op-prefix}-blue200:   #{$color--opui-blue200};
    --#{$op-prefix}-blue300:   #{$color--opui-blue300};
    --#{$op-prefix}-blue400:   #{$color--opui-blue400};
    --#{$op-prefix}-blue500:   #{$color--opui-blue500};
    --#{$op-prefix}-blue600:   #{$color--opui-blue600};
    --#{$op-prefix}-blue700:   #{$color--opui-blue700};
    --#{$op-prefix}-blue800:   #{$color--opui-blue800};
    --#{$op-prefix}-blue900:   #{$color--opui-blue900};

    // Roles
    --#{$op-prefix}-primary:   #{$color--opui-blue};
    --#{$op-prefix}-secondary: #{$color--opui-blue100};
    --#{$op-prefix}-success:   #{$color--opui-bright-green};
    --#{$op-prefix}-info:      #{$color--opui-blue300};
    --#{$op-prefix}-warning:   #{$color--opui-yellow};
    --#{$op-prefix}-danger:    #{$color--opui-red};
    --#{$op-prefix}-light:     #{$color--opui-gray100};
    --#{$op-prefix}-dark:      #{$color--opui-darkgray};

    // Rainbow
    --#{$op-prefix}-indigo:       #{$color--opui-indigo};
    --#{$op-prefix}-purple:       #{$color--opui-purple};
    --#{$op-prefix}-pink:         #{$color--opui-pink};
    --#{$op-prefix}-red:          #{$color--opui-red};
    --#{$op-prefix}-orange:       #{$color--opui-orange};
    --#{$op-prefix}-yellow:       #{$color--opui-yellow};
    --#{$op-prefix}-green:        #{$color--opui-green};
    --#{$op-prefix}-bright-green: #{$color--opui-bright-green};
    --#{$op-prefix}-teal:         #{$color--opui-teal};
    --#{$op-prefix}-cyan:         #{$color--opui-cyan};
}

